---
layout: page
title: 中文
permalink: /chinese/
---

<h2>公司简介</h2>

<p>
  荷兰欧艺特艺术咨询公司Oooit Art成立于2007年1月，致力于支持有潜力的国际视觉艺术家；促进国家间的艺术和文化交流；协助艺术藏家和艺术爱好者们开拓国际视野。
</p>

<p>
  欧艺特艺术咨询公司Oooit Art的主要提供以下服务：
</p>

<ul>
  <li>
    <a href="#艺术展览服务">艺术展览服务</a>
  </li>
  <li>
    <a href="#国际艺术家驻留AiR项目">国际艺术家驻留AiR项目</a>
  </li>
  <li>
    <a href="#艺术收藏服务">艺术收藏服务</a>
  </li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="艺术展览服务"></a>

<h3>艺术展览服务</h3>

<p>
  {% include slider1.html %}
</p>

<p>
  欧艺特艺术咨询公司与美术馆，基金会，政府文化部门，画廊，独立策展人等合作，选择有潜质的艺术家并为他们提供国际展示的机会。欧艺特艺术还积极推进和协助美术馆国际展览交流活动，特别是中国和欧洲的美术馆展览和学术交流。
</p>

<p>
  由欧艺特艺术资助/协助的展览有：
</p>

<table class="list">
  <tr>
    <td class="date">17-05-2014</td>
    <td class="title">“地球村”（荷兰，德国，丹麦三站艺术展） 国际艺术家群展：Robert Roelink, Zara Alexandrova, 李立宏，等等。</td>
  </tr>

  <tr>
    <td class="date">16-04-2014</td>
    <td class="title">“梦幻水墨”： 马蕙个展。</td>
  </tr>

  <tr>
    <td class="date">22-06-2013</td>
    <td class="title">“过去-现在-未来”（荷兰展）焦兴涛个展。</td>
  </tr>

  <tr>
    <td class="date">02-03-2013</td>
    <td class="title">“压抑的童话”艺术群展：金钕，李继开，Gook IM。</td>
  </tr>

  <tr>
    <td class="date">06-02-2013</td>
    <td class="title">“RAW中国主题艺术展” 群展：马蕙，他们组合（杨晓钢和赖圣予），   Adriaan Rees ，Geert Mul 等等。</td>
  </tr>

  <tr>
    <td class="date">21-09-2012</td>
    <td class="title">21-9-2012 “过去-现在-未来”（英国展）：焦兴涛个展。</td>
  </tr>

  <tr>
    <td class="date">29-06-2012</td>
    <td class="title">“共同 · 记忆”双个展 ：他们组合（杨晓钢和赖圣宇）和UNMASK组合（刘展，匡俊，谭天炜）</td>
  </tr>

  <tr>
    <td class="date">07-04-2012</td>
    <td class="title">“固定旋律”国际艺术家群展： Esref Armagan, Kristina Benjocki, Irina Birger, Matthijs de Bruijne, 焦兴涛，Caetano Carvalho, Alexis Destoop, 等等。</td>
  </tr>

  <tr>
    <td class="date">06-06-2011</td>
    <td class="title">“天下海牙”雕塑作品群展：隋建国，谷文达，岳敏君，苍鑫，胡项城，焦兴涛，万里雅，刘建华，刘炜，王晋。</td>
  </tr>

  <tr>
    <td class="date">12-11-2010</td>
    <td class="title">“包裹着的欲望” ：焦兴涛个展</td>
  </tr>

  <tr>
    <td class="date">20-03-2010</td>
    <td class="title">“倒影”：李继开个展</td>
  </tr>

  <tr>
    <td class="date">04-02-2010</td>
    <td class="title">“鹿特丹博览会特别展”群展：杨勋，唐可，等等。</td>
  </tr>

  <tr>
    <td class="date">18-12-2009</td>
    <td class="title">“在美利坚”：罗杰个展。</td>
  </tr>

  <tr>
    <td class="date">02-04-2009</td>
    <td class="title">“他们”：他们组合（杨晓钢和赖圣予）作品展。</td>
  </tr>

  <tr>
    <td class="date">24-05-2008</td>
    <td class="title">“囚”：罗杰个展。</td>
  </tr>

  <tr>
    <td class="date">07-05-2008</td>
    <td class="title">“中国现在之二”当代艺术群展：他们组合（杨晓钢和赖圣予），李继开，刘可，华庆，李昌龙，刘峥，等等。</td>
  </tr>

  <tr>
    <td class="date">29-03-2008</td>
    <td class="title">“独自行走”：李继开个展。</td>
  </tr>

  <tr>
    <td class="date">12-01-2007</td>
    <td class="title">“中国现在”当代艺术群展：李继开，焦兴涛，贾穹，罗杰，李立宏，黄海蓉，陈志光，吴建军，彭嵘。</td>
  </tr>

</table>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="国际艺术家驻留AiR项目"></a>

<h3>国际艺术家驻留AiR项目</h3>

<p>
  {% include slider2.html %}
</p>

<p>
  欧艺特艺术的国际驻留项目特别地关注并支持处于创作初期和发展期的有潜力的艺术家群体，在每个国际驻留地点，欧艺特艺术与本地专业驻留机构合作，给艺术家提供：工作室，生活基本设施，展览机会，文化交流活动，艺术职业发展顾问等等。
</p>

<p>
  目前欧艺特艺术公司在以下地点已经开始接受驻留项目申请:
</p>

<ul>
  <li>中国北京</li>
  <li>中国深圳</li>
  <li>中国武汉</li>
  <li>荷兰阿姆斯特丹</li>
  <li>荷兰阿尔克马尔</li>
</ul>

<p>欧艺特的国际驻留项目为期1-3个月。</p>

<p>申请时间：项目开始前3-6个月。(申请资料包含工作计划，简历和作品图片）</p>

<p>确认时间：2周。</p>

<p>艺术创作形式包括有：绘画，雕塑/装置，影像，陶瓷，版画等等。</p>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="艺术收藏服务"></a>

<h3>艺术收藏服务</h3>

<p>
  {% include slider3.html %}
</p>

<p>
  欧艺特艺术为私人和集团藏家提供有针对性的订制收藏服务，所有藏品来自于专业渠道，按要求提供资深行业专家认证证书。
</p>

<p>
  您可以向欧艺特艺术公司的专家咨询以下艺术品收藏和鉴定服务:
</p>

<ul>
  <li>中国当代艺术</li>
  <li>荷兰当代艺术</li>
  <li>德国当代艺术</li>
  <li>17世纪荷兰和弗兰德斯大师</li>
  <li>19世纪大师</li>
  <li>20世纪大师</li>
</ul>

<p>
  您也可以选择参加欧艺特艺术组织的艺术讲座和艺术管理课程，这些讲座和课程有一部分会在美术馆，博览会，拍卖行，画廊空间，或者收藏机构的空间内举办，作为参加者您会获得丰富有趣的互动体验。其中部分课程完成后可以获得欧洲著名大学授予的证书。目前开通的课程栏目主要有：
</p>

<ul>
  <li>艺术品鉴赏</li>
  <li>艺术史</li>
  <li>艺术品估值</li>
  <li>艺术金融和投资管理</li>
  <li>国际艺术市场</li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="contact"></a>

<h2>联系我们</h2>

<form id="message_form" action="{{ site.mailer_url }}" method="POST">
  <fieldset>
    <label for="contact_im">我是</label>
    <select id="contact_im" name="message[im]">
      <option>艺术家</option>
      <option>美术馆负责人</option>
      <option>画廊负责人</option>
      <option>策展人</option>
      <option>藏家</option>
      <option>国际驻留项目负责人</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="contact_email">E-mail</label>
    <input id="contact_email" name="message[email]" type="email" required></input>
    <span>*</span>
  </fieldset>
  <fieldset>
    <label for="contact_name">称呼</label>
    <input id="contact_name" name="message[name]"></input>
  </fieldset>
  <fieldset>
    <label for="contact_tel">电话</label>
    <input id="contact_tel" name="message[tel]"></input>
  </fieldset>
  <fieldset>
    <label for="contact_message">留言</label>
    <textarea id="contact_message" name="message[message]"></textarea>
  </fieldset>
  <fieldset>
    <input id="submit_btn" type="submit" value="发送">
  </fieldset>
</form>

<div class="back-top-btn"><a href="#top">Top↑</a></div>
