---
layout: page
title: Nederlands
permalink: /nederlands/
---

<h2>Introductie</h2>

<p>
  Oooit Art is opgericht in Nederland in januari 2007 met als oogmerk veelbelovende kunstenaars te ondersteunen; kunstuitingen aan te bevelen en uitwisselingsprogramma’s te organiseren en bovendien kunstverzamelaars en andere liefhebbers van kunst bekend te maken met de internationale kunstwereld.
</p>

<p>
  Hiertoe heeft Oooit Art verschillende programma’s ontwikkeld op het gebied van:
</p>

<ul>
  <li>
    <a href="#TentoonstellingDienstverlening">Tentoonstelling dienstverlening</a>
  </li>
  <li>
    <a href="#InternationaleAiRProjecten">Internationale AiR projecten</a>
  </li>
  <li>
    <a href="#KunstverzamelingDienstverlening">Kunstverzameling dienstverlening</a>
  </li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="TentoonstellingDienstverlening"></a>

<h3>Tentoonstelling Services</h3>

<p>
  {% include slider1.html %}
</p>

<p>
  In samenwerking met musea, kunststichtingen, overheids kunstinstellingen, galeries, conservatoren, staat Oooit Art kunstenaars bij om hun werk op professionele wijze te presenteren. Oooit Art initieert tevens uitwisselingsprogramma’s tussen musea, met name tussen Europese en Chinese instellingen.
</p>

<p>
  Tentoonstellingen gesponsord en/of mede georganiseerd door Oooit Art:
</p>

<table class="list">
  <tr>
    <td class="date">17-05-2014</td>
    <td class="title">‘Global Village’ (Netherlands, Germany, Denmark) – Group exhibition tour of artists Robert Roelink, Zara Alexandrova, Li Lihong etc.</td>
  </tr>

  <tr>
    <td class="date">16-04-2014</td>
    <td class="title">‘Water Dreaming’ - Solo exhibition of Ma Hui</td>
  </tr>

  <tr>
    <td class="date">22-06-2013</td>
    <td class="title">'Present-Pefect-Tense‘ (Netherlands)  - Solo exhibition of Jiao Xingtao</td>
  </tr>

  <tr>
    <td class="date">02-03-2013</td>
    <td class="title">‘Oppressive Fairytales’ - Group exhibitions of Jin Nü, Li Jikai and Gook IM</td>
  </tr>

  <tr>
    <td class="date">06-02-2013</td>
    <td class="title">‘The RAW China EXPO’ - Group exhibitions of Ma Hui, They ( artists Yang Xiaogang and Lai Shengyu), Adriaan Rees , Geert Mul etc.</td>
  </tr>

  <tr>
    <td class="date">21-09-2012</td>
    <td class="title">'Present-Pefect-Tense‘ (UK)  - Solo exhibition of Jiao Xingtao</td>
  </tr>

  <tr>
    <td class="date">29-06-2012</td>
    <td class="title">'Collective.Memory'  - Dual exhibition of THEY (aritsts Yang Xiaogang and Lai Shengyu)&amp; UNMASK (artists Liu Zhan, Kuang Jun and Tian Tianwei)</td>
  </tr>

  <tr>
    <td class="date">07-04-2012</td>
    <td class="title">‘Cantus Firmus ’ - Group exhibition of Esref Armagan, Kristina Benjocki, Irina Birger, Matthijs de Bruijne, Jiao Xingtao, Caetano Carvalho, Alexis Destoop, etc.</td>
  </tr>

  <tr>
    <td class="date">06-06-2011</td>
    <td class="title">‘Den Haag Under the Heaven’ -  Outdoor sculptures group Exhibition of artists Sui Jianguo, Yue Minjun, Cang Xin, Wenda Gu, Liu Jianhua, Wang Jin, Liu Wei, Yin Xiuzhen, Jiao Xingtao and Hu Xiangching</td>
  </tr>

  <tr>
    <td class="date">12-11-2010</td>
    <td class="title">'Wrapped Desires' - Solo Exhibition of Jiao Xingtao</td>
  </tr>

  <tr>
    <td class="date">20-03-2010</td>
    <td class="title">'Reflections' - Solo Exhibition of Li jIika</td>
  </tr>

  <tr>
    <td class="date">04-02-2010</td>
    <td class="title">‘Art Rotterdam special presentation’ – Yang Xun, Tang Ke etc.</td>
  </tr>

  <tr>
    <td class="date">18-12-2009</td>
    <td class="title">'Luo Jie' - Solo Exhibition of Luo Jie</td>
  </tr>

  <tr>
    <td class="date">02-04-2009</td>
    <td class="title">'THEY' - Solo exhibition of THEY ( artists Yang Xiaogang and Lai Shengyu)</td>
  </tr>

  <tr>
    <td class="date">24-05-2008</td>
    <td class="title">'Imprisoned' - Solo Exhibition of Luo Jie</td>
  </tr>

  <tr>
    <td class="date">07-05-2008</td>
    <td class="title">‘CHINA NOW NOW 2’ - Group Exhibition of artists THEY (Yang Xiaogang and Lai Shengyu) , Li Jikai, Luo Jie, Liu Ke, Hua Qing, Li Changlong, Liu Zheng etc.</td>
  </tr>

  <tr>
    <td class="date">29-03-2008</td>
    <td class="title">'Walking Alone' - Solo Exhibition of Li Jikai</td>
  </tr>

  <tr>
    <td class="date">12-01-2007</td>
    <td class="title">'CHINA NOW NOW' - Group exhibition of artists Li Jikai, Jiao Xingtao, Jia Qiong, Luo Jie, Li Lihong, Huang Hairong, Chen Zhiguang, Wu Jianjun and Peng Rong.</td>
  </tr>

</table>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="InternationaleAiRProjecten"></a>

<h3>International AiR project</h3>

<p>
  {% include slider2.html %}
</p>

<p>
  Oooit Art organiseert en bemiddelt in samenwerking met plaatselijke partners bij  internationale uitwisselingen van jonge kunstenaars (AiR, artist in residence); assisteert bij het zoeken naar geschikte ateliers , logies en expositieruimte, culturele uitwisselingen tot stand te brengen, te adviseren bij carrière ontwikkeling, enz
</p>

<p>
  Oooit heeft onder andere projecten opgezet in:
</p>

<ul>
  <li>Beijing, China</li>
  <li>Shen Zhen, China</li>
  <li>Wuhan, China</li>
  <li>Amsterdam, the Netherlands</li>
  <li>Alkmaar, the Netherlands</li>
</ul>

<p>Een uitwisselingsproject beslaat een periode van 1 tot 3 maanden.</p>

<p>Aanvraag: 6 maaden van tevoren. (Aanvraag inclusief werk plan, CV en foto’s van eigen werk)</p>

<p>Acceptatie: 2 weken na indienen aanvraag.</p>

<p>Kunstvormen voor de uitwisselingsprojecten zijn onder andere: schilderen, beeldhouwen, het maken van installaties, fotografie, video, keramiek, grafiek, etc.</p>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="KunstverzamelingDienstverlening"></a>

<h3>Kunstcollectie service</h3>

<p>
  {% include slider3.html %}
</p>

<p>
  Oooit Art biedt dienstverlening op maat voor zowel particuliere als institutionele verzamelaars inzake:
</p>

<p>
  Please feel free to contact Oooit Art’s professionals providing expertise in:
</p>

<ul>
  <li>Chinese hedendaagsekunst</li>
  <li>Nederlandse hedendaagse kusnt</li>
  <li>Duites hedendaagse kunst</li>
  <li>17e eeuwse Nederlandse en Vlaamse meesters</li>
  <li>19e eeuwse meesters</li>
  <li>20ste eeuwse meesters</li>
</ul>

<p>
  Ook behoort het organiseren van lezingen en cursussen tot de mogelijkheden i.s.m. musea, kunstveilingen, exposities, galeries, enz. Op aanvraag kunnen certificaten worden vertrekt i.s.m. Europese universiteiten op het gebied van:
</p>

<ul>
  <li>Kunstbeschouwing</li>
  <li>Kunstgeschiedenis</li>
  <li>Waarde expertise</li>
  <li>kunstfinanciering</li>
  <li>de internationale kunstmarkt</li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="contact"></a>

<h2>Contact</h2>

<form id="message_form" action="{{ site.mailer_url }}" method="POST">
  <fieldset>
    <label for="contact_im">Ik</label>
    <select id="contact_im" name="message[im]">
      <option>ben kunstenaar</option>
      <option>ben werkzaam bij een museum</option>
      <option>ben werkzaam bij een galerie</option>
      <option>ben conservator</option>
      <option>ben verzamelaar</option>
      <option>vertegenwoordig een AiR project</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="contact_name">Name</label>
    <input id="contact_name" name="message[name]"></input>
  </fieldset>
  <fieldset>
    <label for="contact_tel">Telefoon</label>
    <input id="contact_tel" name="message[tel]"></input>
  </fieldset>
  <fieldset>
    <label for="contact_email">E-mail</label>
    <input id="contact_email" name="message[email]"></input>
  </fieldset>
  <fieldset>
    <label for="contact_message">Vul hier uw boodschap in</label>
    <textarea id="contact_message" name="message[message]"></textarea>
  </fieldset>
  <fieldset>
    <input id="submit_btn" type="submit" value="Verzenden">
  </fieldset>
</form>

<div class="back-top-btn"><a href="#top">Top↑</a></div>
