---
layout: page
title: Nederlands
permalink: /nederlands/
---

<h2>Introductie</h2>

<p>
  Oooit Art is opgericht in Nederland in januari 2007, met als oogmerk veelbelovende kunstenaars te ondersteunen; het promoten van kunst en uitwisselingsprogramma’s te organiseren. Bovendien helpt Oooit Art kunstverzamelaars en andere liefhebbers van kunst om bekend te worden met de internationale kunstwereld.
</p>

<p>
  Oooit Art richt zich op de volgende drie gebieden:
</p>

<ul>
  <li>
    <a href="#TentoonstellingDienstverlening">Kunst tentoonstelling</a>
  </li>
  <li>
    <a href="#InternationaleAiRProjecten">Internationale AiR projecten</a>
  </li>
  <li>
    <a href="#KunstverzamelingDienstverlening">Advies en ontwikkeling van kunstverzamelingen</a>
  </li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="TentoonstellingDienstverlening"></a>

<h3>Kunst tentoonstelling</h3>

{% include slider1.html %}

<p>
  Oooit Art ondersteunt kunstenaars bij de professionele presentatie van hun werk. Wij doen dit in samenwerking met musea, kunststichtingen, overheids kunstinstellingen, galeries en conservatoren. Oooit Art initieert tevens uitwisselingsprogramma’s tussen musea, met name tussen Europese en Chinese instellingen.
</p>

<p>
  Tentoonstellingen georganiseerd, mede georganiseerd en gesponsord door Oooit Art:
</p>

{% include exhibitions_nederlands.html %}

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="InternationaleAiRProjecten"></a>

<h3>Internationale AiR projecten</h3>

{% include slider2.html %}

<p>
  Oooit Art organiseert en bemiddelt in samenwerking met plaatselijke partners bij  internationale uitwisselingen van jonge kunstenaars (AiR, artist in residence); assisteert bij het zoeken naar geschikte ateliers , logies en expositieruimte, culturele uitwisselingen tot stand te brengen, te adviseren bij carrière ontwikkeling, enz
</p>

<p>
  Oooit heeft onder andere projecten opgezet in:
</p>

<ul>
  <li>Beijing, China</li>
  <li>Shenzhen, China</li>
  <li>Wuhan, China</li>
  <li>Amsterdam, the Netherlands</li>
  <li>Alkmaar, the Netherlands</li>
</ul>

<p>Een uitwisselingsproject beslaat een periode van een tot drie maanden. </p>

<p>Aanvraag: drie maanden van tevoren. (Aanvraag inclusief werk plan, CV en foto’s van eigen werk)</p>

<p>Acceptatie: twee weken na indienen aanvraag.</p>

<p>Kunstvormen voor de uitwisselingsprojecten zijn onder andere: schilderen, beeldhouwen, het maken van installaties, fotografie, video, keramiek, grafiek, etc.</p>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="KunstverzamelingDienstverlening"></a>

<h3>Advies en ontwikkeling van kunstverzamelingen</h3>

{% include slider3.html %}

<p>
  Oooit Art biedt dienstverlening op maat voor zowel particuliere als institutionele verzamelaars inzake:
</p>

<p>
  Aarzel niet om contact op te nemen met Oooit Art’s professionals voor:
</p>

<ul>
  <li>Chinese hedendaagsekunst</li>
  <li>Nederlandse hedendaagse kusnt</li>
  <li>Duites hedendaagse kunst</li>
  <li>17e eeuwse Nederlandse en Vlaamse meesters</li>
  <li>19e eeuwse meesters</li>
  <li>20e eeuwse meesters</li>
</ul>

<p>
  Ook behoort het organiseren van lezingen en cursussen tot de mogelijkheden i.s.m. musea, kunstveilingen, exposities, galeries, enz. Op aanvraag kunnen certificaten worden verstrekt ( i.s.m. diverse Europese universiteiten) op het gebied van:
</p>

<ul>
  <li>Kunstbeschouwing</li>
  <li>Kunstgeschiedenis</li>
  <li>Waarde expertise</li>
  <li>kunstfinanciering</li>
  <li>de internationale kunstmarkt</li>
</ul>

<div class="back-top-btn"><a href="#top">Top↑</a></div>

<a id="contact"></a>

<h2>Contact</h2>

<form id="message_form" action="{{ site.mailer_url }}" method="POST">
  <fieldset>
    <label for="contact_im">Svp aanvinken</label>
    <select id="contact_im" name="message[im]">
      <option>Ik ben kunstenaar</option>
      <option>Ik ben werkzaam bij een museum</option>
      <option>Ik ben werkzaam bij een galerie</option>
      <option>Ik ben conservator</option>
      <option>Ik ben verzamelaar</option>
      <option>Ik vertegenwoordig een AiR project</option>
    </select>
  </fieldset>
  <fieldset>
    <label for="contact_email">E-mail</label>
    <input id="contact_email" name="message[email]" type="email" required />
    <span>*</span>
  </fieldset>
  <fieldset>
    <label for="contact_name">Naam</label>
    <input id="contact_name" name="message[name]" required />
    <span>*</span>
  </fieldset>
  <fieldset>
    <label for="contact_tel">Telefoon</label>
    <input id="contact_tel" name="message[tel]" />
  </fieldset>
  <fieldset>
    <label for="contact_message">Vul hier uw boodschap in</label>
    <textarea id="contact_message" name="message[message]"></textarea>
  </fieldset>
  <fieldset>
    <input id="submit_btn" type="submit" value="Verzenden" />
  </fieldset>
</form>

<div class="back-top-btn"><a href="#top">Top↑</a></div>
