<table class="list">
  <tr>
    <td class="date">11-12-2014</td>
    <td>Museum exchange programme  between Jan van der Togt Museum and Wuhan Art Museum - Part one (Netherlands): Solo exhibition of Li Jikai</td>
  </tr>
  <tr>
    <td class="date">17-05-2014</td>
    <td>‘Global Village’ (Netherlands, Germany, Denmark) – Group exhibition tour of artists Robert Roelink, Zara Alexandrova, Li Lihong etc.</td>
  </tr>
  <tr>
    <td class="date">16-04-2014</td>
    <td>‘Water Dreaming’ - Solo exhibition of Ma Hui</td>
  </tr>
  <tr>
    <td class="date">22-06-2013</td>
    <td>'Present-Pefect-Tense‘ (Netherlands)  - Solo exhibition of Jiao Xingtao</td>
  </tr>
  <tr>
    <td class="date">02-03-2013</td>
    <td>‘Oppressive Fairytales’ - Group exhibitions of Jin Nü, Li Jikai and Gook IM</td>
  </tr>
  <tr>
    <td class="date">06-02-2013</td>
    <td>‘The RAW China EXPO’ - Group exhibitions of Ma Hui, They ( artists Yang Xiaogang and Lai Shengyu), Adriaan Rees , Geert Mul etc.</td>
  </tr>
  <tr>
    <td class="date">21-09-2012</td>
    <td>'Present-Pefect-Tense‘ (UK)  - Solo exhibition of Jiao Xingtao</td>
  </tr>
  <tr>
    <td class="date">29-06-2012</td>
    <td>'Collective.Memory'  - Dual exhibition of THEY (aritsts Yang Xiaogang and Lai Shengyu)& UNMASK (artists Liu Zhan, Kuang Jun and Tian Tianwei)</td>
  </tr>
  <tr>
    <td class="date">07-04-2012</td>
    <td>‘Cantus Firmus ’ - Group exhibition of Esref Armagan, Kristina Benjocki, Irina Birger, Matthijs de Bruijne, Jiao Xingtao, Caetano Carvalho, Alexis Destoop, etc。</td>
  </tr>
  <tr>
    <td class="date">06-06-2011</td>
    <td>‘Den Haag Under the Heaven’ -  Outdoor sculptures group Exhibition of artists Sui Jianguo, Yue Minjun, Cang Xin, Wenda Gu, Liu Jianhua, Wang Jin, Liu Wei, Yin Xiuzhen, Jiao Xingtao and Hu Xiangching</td>
  </tr>
  <tr>
    <td class="date">12-11-2010</td>
    <td>'Wrapped Desires' - Solo Exhibition of Jiao Xingtao</td>
  </tr>
  <tr>
    <td class="date">20-03-2010</td>
    <td>'Reflections' - Solo Exhibition of Li jIika</td>
  </tr>
  <tr>
    <td class="date">04-02-2010</td>
    <td>‘Art Rotterdam special presentation’ – Yang Xun, Tang Ke, etc.</td>
  </tr>
  <tr>
    <td class="date">18-12-2009</td>
    <td>'Luo Jie' - Solo Exhibition of Luo Jie</td>
  </tr>
  <tr>
    <td class="date">02-04-2009</td>
    <td>'THEY' - Solo exhibition of THEY ( artists Yang Xiaogang and Lai Shengyu)</td>
  </tr>
  <tr>
    <td class="date">24-05-2008</td>
    <td>'Imprisoned' - Solo Exhibition of Luo Jie</td>
  </tr>
  <tr>
    <td class="date">07-05-2008</td>
    <td>'CHINA NOW NOW 2' - Group Exhibition of artists THEY (Yang Xiaogang and Lai Shengyu) , Li Jikai, Luo Jie, Liu Ke, Hua Qing, Li Changlong, Liu Zheng , etc</td>
  </tr>
  <tr>
    <td class="date">29-03-2008</td>
    <td>'Walking Alone' - Solo Exhibition of Li Jikai</td>
  </tr>
  <tr>
    <td class="date">12-01-2007</td>
    <td>'CHINA NOW NOW' - Group exhibition of artists Li Jikai, Jiao Xingtao, Jia Qiong, Luo Jie, Li Lihong, Huang Hairong, Chen Zhiguang, Wu Jianjun and Peng Rong.</td>
  </tr>
</table>
