<table class="list">
  <tr>
    <td class="date">11-12-2014</td>
    <td>荷兰Jan van der Togt 美术馆和中国武汉美术馆交流项目，第一部分（荷兰）：李继开个展</td>
  </tr>
  <tr>
    <td class="date">17-05-2014</td>
    <td>“地球村”（荷兰，德国，丹麦三站艺术展） 国际艺术家群展：Robert Roelink, Zara Alexandrova, 李立宏，等等。</td>
  </tr>
  <tr>
    <td class="date">16-04-2014</td>
    <td>“梦幻水墨”： 马蕙个展。</td>
  </tr>
  <tr>
    <td class="date">22-06-2013</td>
    <td>“过去-现在-未来”（荷兰展）焦兴涛个展。</td>
  </tr>
  <tr>
    <td class="date">02-03-2013</td>
    <td>“压抑的童话”艺术群展：金钕，李继开，Gook IM。</td>
  </tr>
  <tr>
    <td class="date">06-02-2013</td>
    <td>“RAW中国主题艺术展” 群展：马蕙，他们组合（杨晓钢和赖圣予），   Adriaan Rees ，Geert Mul 等等。</td>
  </tr>
  <tr>
    <td class="date">21-09-2012</td>
    <td>“过去-现在-未来”（英国展）：焦兴涛个展。</td>
  </tr>
  <tr>
    <td class="date">29-06-2012</td>
    <td>“共同 · 记忆”双个展 ：他们组合（杨晓钢和赖圣宇）和UNMASK组合（刘展，匡俊，谭天炜）</td>
  </tr>
  <tr>
    <td class="date">07-04-2012</td>
    <td>“固定旋律”国际艺术家群展： Esref Armagan, Kristina Benjocki, Irina Birger, Matthijs de Bruijne, 焦兴涛，Caetano Carvalho, Alexis Destoop, 等等。</td>
  </tr>
  <tr>
    <td class="date">06-06-2011</td>
    <td>“天下海牙”雕塑作品群展：隋建国，谷文达，岳敏君，苍鑫，胡项城，焦兴涛，万里雅，刘建华，刘炜，王晋。</td>
  </tr>
  <tr>
    <td class="date">12-11-2010</td>
    <td>“包裹着的欲望” ：焦兴涛个展</td>
  </tr>
  <tr>
    <td class="date">20-03-2010</td>
    <td>“倒影”：李继开个展</td>
  </tr>
  <tr>
    <td class="date">04-02-2010</td>
    <td>“鹿特丹博览会特别展”群展：杨勋，唐可，等等。</td>
  </tr>
  <tr>
    <td class="date">18-12-2009</td>
    <td>“在美利坚”：罗杰个展。</td>
  </tr>
  <tr>
    <td class="date">02-04-2009</td>
    <td>“他们”：他们组合（杨晓钢和赖圣予）作品展。</td>
  </tr>
  <tr>
    <td class="date">24-05-2008</td>
    <td>“囚”：罗杰个展。</td>
  </tr>
  <tr>
    <td class="date">07-05-2008</td>
    <td>“中国现在之二”当代艺术群展：他们组合（杨晓钢和赖圣予），李继开，刘可，华庆，李昌龙，刘峥，等等。</td>
  </tr>
  <tr>
    <td class="date">29-03-2008</td>
    <td>“独自行走”：李继开个展。</td>
  </tr>
  <tr>
    <td class="date">12-01-2007</td>
    <td>“中国现在”当代艺术群展：李继开，焦兴涛，贾穹，罗杰，李立宏，黄海蓉，陈志光，吴建军，彭嵘。</td>
  </tr>
</table>
