<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>Address: {{ site.address }}</li>
          <li>Phone: {{ site.phone }} {{ site.mobile }}</li>
          <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
        <div style="font-size: small">© 2007-2016 Oooit Art. All rights reserved.</a></div>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
      </div>
    </div>

  </div>

</footer>
