<!-- SlidesJS Required: Start Slides -->
<!-- The container is used to define the width of the slideshow -->
<div class="container">
  <div id="slides3">
  {% for i in (1..4) %}
    <img src="../img/sliders3/{{i}}.jpg" alt="" />
  {% endfor %}
  </div>
</div>
<!-- End SlidesJS Required: Start Slides -->

<!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
<script>
  $(function() {
    $('#slides3').slidesjs({
      width: 720,
      height: 480,
      play: {
        active: true,
        auto: true,
        interval: 4000,
        swap: true
      }
    });
  });
</script>
<!-- End SlidesJS Required -->
